---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).filter(p => !p.data.draft);
---
<BaseLayout title="Joey Turnbull - Personal">
  <h1>Personal</h1>
  <ul>
    {posts.map(({ slug, data }) => (
      <li><a href={`/personal/${slug}/`}>{data.title}</a></li>
    ))}
  </ul>
  <p>Come back later for more details!</p>
</BaseLayout>
