---
import bootUrl from "../mlp-trainer/boot.js?url";
---

<div
  data-mlp-trainer
  style="max-width: 980px; padding: 1rem; border: 1px solid #eee; border-radius: 14px;"
>
  <div style="opacity:0.7;">(booting…)</div>
</div>

<!-- External module script (NOT inline) -->
<script type="module" src={bootUrl}></script>
