---
import BaseLayout from "../../layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const items = await getCollection("projects", ({ data }) => !data.draft);
  return items.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props as { entry: CollectionEntry<"projects"> };
const { Content } = await entry.render();
---
<BaseLayout title={`${entry.data.title} – Projects`}>
  <h1>{entry.data.title}</h1>
  <Content />
</BaseLayout>
