---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const items = (await getCollection("projects"))
  .filter(p => !p.data.draft && !p.data.onlylink)
  .sort((a,b)=>(b.data.pubDate?.getTime?.() ?? 0)-(a.data.pubDate?.getTime?.() ?? 0));
---
<BaseLayout title="Joey Turnbull - Projects">
  <h1>Projects</h1>
  <ul>
    {items.map(({ slug, data }) => (
      <li><a href={`/projects/${slug}/`}>{data.title}</a></li>
    ))}
  </ul>
</BaseLayout>

