---
const { frontmatter } = Astro.props;
import Base from './Base.astro';
import Nav from '../components/Nav.astro';
---
<Base title={frontmatter.title}>
  <Fragment slot="nav"><Nav /></Fragment>
  <article>
    <h1>{frontmatter.title}</h1>
    {frontmatter.date && <p><small>{new Date(frontmatter.date).toDateString()}</small></p>}
    <slot />
  </article>
</Base>
